form {
    background-color: #CCC;
    width: 300px;
}

.form-control {
    width: 100%;
    padding: 12px 8px;
    display: flex;
}

label {
    display: inline-block;
    flex: 1;
}

input {
    border: none;
    flex: 1.5;
    margin-right: 16px;
    padding: 4px 2px;
}

.btn  {
    padding: 6px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

.btn-close {
    background-color: red;
    margin-right: 5px;
    flex: 1;
    text-align: center;
}

.btn-add {
    background-color: green;
    flex: 1;
    text-align: center;
}

.errors {
    background-color: red;
    width: 300px;
}

.text-error {
    color: white;
    font-weight: bold;
    padding: 4px 2px;
}
